

<div  id="favorite-div">
    <div class="row no gutters ">
      {% for book in fav_books %}
        <div class= "col book-info" style="margin-top: 20px;margin-left: 20px;margin-right: auto;">
          {% if friend_id is none %}
          <img src="{{book[4]['smallThumbnail']}}" name="book-link" data-toggle="modal" data-target="#book-{{book[0]}}">
          {% endif %}
          {% if friend_id is not none %}
            <img src="{{book[4]['smallThumbnail']}}" name="book-link">
          {% endif %}
            <p name="book-title"  id="book-title-{{book[1]}}" val={{book[1]}}>{{book[1]}} </p>
                    

        </div>

        <!--book info-->
       <div class="modal fade" id="book-{{book[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title book-informatio" id="exampleModalLabel">Book Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card mb-3" >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{book[4]['smallThumbnail']}}"class="card-img  book-image" alt="..." style="max-height: 300px;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title book-title">{{book[1]}}</h5>
                        <p class="card-text book-author">{{book[2]}}</p>
                        <div class="dropdown book-attr" name="second">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Remove Collection
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <div class="dropdown-item form-check" name="first">
                                  <input class="form-check-input favorite" type="checkbox" name="{{book[1]}}" value="" id="{{book[0]}}" checked>
                                  <label class="form-check-label" for="flexCheckDefault">
                                      Favorite
                                    </label>  
                              </div>  
                          </div>
                      </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
              </div>
            </div>
          </div>
        </div> 

      {% endfor %}
    </div>
</div>
<script src="/static/userprofile.js"></script>
