{%extends 'base.html'%}
{% block title %}Books Website {% endblock %}

{% block body %}
<div>
    
    
    <div class="container">
        <div class="row">
        {% for book in books %}
        <div class= "col-sm-4 book-info" name="third">
            <img src="{{book[4]['smallThumbnail']}}" name="book-link">
            <h3 name="book-title"  id="book-title-{{book[1]}}" val={{book[1]}}>{{book[1]}} </h2>
            <h5 name ="author-name" >{{book[2]}}</h3>  
            <div class="dropdown book-attr" name="second">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-check" name="first">
                    <input class="form-check-input favorite" type="checkbox" name="{{book[1]}}" value="" id="{{book[0]}}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Favorite
                      </label>  
                </div> 

                <div class="dropdown-item form-check">
                    <input class="form-check-input suggest" type="checkbox" name="{{book[1]}}" value="" id="suggest-{{book[0]}}">
                    <label class="form-check-label" for="flexCheckDefault">
                        Suggest
                    </label>
                </div> 
                </div>
              </div>  
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

