{%extends 'base.html'%}
{% block title %}Books Website {% endblock %}

{% block body %}
<div>
    <div class="container">
          <nav class="navbar navbar-light bg-light" style="width: 60%;margin-top: 50px;margin-left: 40%;">
            <form class="container-fluid" action="/search">
              <div class="input-group">
                <input class="form-control me-2" name ="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" id="searchbook" type="submit">Search</button>
              </div>
            </form>
          </nav>

        <div class="row">
        {% for book in books %} <!--loop to show books-->
        <div class= "col-sm-4 book-info"name="third">
            <img src="{{book[4]['smallThumbnail']}}"  onclick="window.open('{{book[5]}}','mywindow');" name="book-link">
            <p name="book-title"  id="book-title-{{book[1]}}" val={{book[1]}}>{{book[1]}} </p>
            <p name ="author-name" >{{book[2]}}</p>  
            <div class="dropdown book-attr" name="second">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Book
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item form-check" name="first">
                        <input class="form-check-input favorite" type="checkbox" name="{{book[1]}}" value="" id="{{book[0]}}">
                        <label class="form-check-label" for="flexCheckDefault">
                            Favorite
                          </label>  
                    </div> 
                    <div class="dropdown-item form-check">
                        <input class="form-check-input suggest" type="checkbox" name="{{book[1]}}" value="" id="suggest-{{book[0]}}">
                        <label class="form-check-label" for="flexCheckDefault">
                            Suggest
                        </label>
                    </div>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input review-checkbox" type="checkbox" name="{{book[1]}}" value="" id="{{book[0]}}"  data-toggle="modal" data-target="#modal-{{book[0]}}">
                        <label class="form-check-label" for="flexCheckDefault">
                            Review
                        </label>
                    </div>
                </div>
            </div>  
            <div class="modal fade bd-example-modal-sm " id="modal-{{book[0]}}"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add book review</h5>
                    <button type="button" class="close" id="mod-{{book[0]}}"data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <textarea class="form-control review" aria-label="With textarea" id="textarea-{{book[0]}}"maxlength="300"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-review" name="{{book[1]}}" id="r-{{book[0]}}">Save changes</button>
                    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

