<!--this page has log in for user and has email and password fields-->
{%extends 'base.html'%}
{% block title %}Books Website {% endblock %}

{% block body %}

<div class="row" style="margin-top: 20px;margin-bottom:10px;">
  <div class="col-sm-5">
<form class="form-signin" method="POST" action="/processlogin" style="margin-left:3%; margin-bottom:40px">
  <div style="text-align: center;">
    <h2 class="form-signin-heading">Please Sign In</h2>
  </div>
  
    <div class="form-group">
      <label for="email-field" class="sr-only">Email Address</label>
      <input type="email"
             name="email"
             id="email"
             class="form-control input-lg"
             placeholder="Email Address"
             required
             autofocus>
    </div>
  
    <div class="form-group">
      <label for="password-field" class="sr-only">Password</label>
      <input type="password"
             name="password"
             id="password"
             class="form-control input-lg"
             placeholder="Password"
             required >
    </div>
  
    <button class="btn btn-lg btn-primary btn-block" id="signin" type="submit">Sign In</button>
  
  </form>
</div>
  <div class="col-sm-6" style="background-image: url('/static/img/book3.jpg');background-size:cover;background-position: center; margin-left: 70px;">
    
  </div>
</div>



{% endblock %}