<div class="container" id="requested-friend-div">
    {% for friend in friend_requests %}
    <div class="card mb-3 user-infor"   >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/img/default_img.jpg.png" class="card-img" alt="...">     
               </div>
          <div class="col-md-8">
            <div class="card-body" id ="user-id" name={{friend.user_id}}>
              <h5 class="card-title user-name">{{ friend.fname}}</h5>
              <div class="row no-gutters">
                <label class="col-1">Email : </label>
                <p class="col-10 card-text email">{{friend.email}}</p>
              </div>
              <div class="row" style=>
                <label class="col-2">Gender : </label>
                <p class="col-9 card-text gender">{{friend.gender}}</p>
              </div>
              <div class="row no-gutters">
                <label class="col-1">Age : </label>
                <p class="col-10 card-text age">{{friend.age}}</p>
               </div> 
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary reject-friend " id={{friend.user_id}} name="rejected">Reject</button>
  
        <button type="submit" class="btn btn-primary add-friend " id={{friend.user_id}} name="accepted">Accept</button>
    </div>
    {% endfor %}
    <script src="/static/bookevents.js"></script>
  </div>
  