{% extends 'base.html' %}
{% block title %}Books Website {% endblock %}

{% block body %}
<div class="container">
    {% for user in users%}
    <div class="card mb-3 user-infor"  >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/img/default_img.jpg.png" actual-image="{{user.img_url}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" id ="user-id" name={{user.user_id}}>
              <h5 class="card-title user-name">{{ user.fname}}</h5>
              <div class="row no-gutters">
                <label class="col-1">Email : </label>
                <p class="col-10 card-text email">{{user.email}}</p>
              </div>
              <div class="row" style=>
                <label class="col-2">Gender : </label>
                <p class="col-9 card-text gender">{{user.gender}}</p>
              </div>
              <div class="row no-gutters">
                <label class="col-1">Age : </label>
                <p class="col-10 card-text age">{{user.age}}</p>
               </div> 
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg request-friend" name="requested" id={{user.user_id}}>Add Friend</button>
    </div>
    {% endfor %}
</div>
{% endblock %}